.form__save-button {
  background-color: black;
  color: white;
  outline: none;
  border: none;
  margin: 10px auto;
  display: block;
  padding: 6px 30px;
  border-radius: 15px;
  cursor: pointer;
}

.form__save-button:focus {
  outline: 1px solid #23874b;
  outline-offset: 5px;
}
