@import url(__links/navbar__links.css);
@import url(__item/navbar__item.css);
@import url(__link/navbar__link.css);

.navbar {
  display: flex;
  margin: 30px auto;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  min-width: 30%;
  min-height: 50px;
  background-color: white;
  border-radius: 35px;
}
