@keyframes slideInFromLeft {
  0% {
    transform: translateY(-300%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.keybinds__list-item-hotkey {
  position: absolute;
  z-index: 3;
  background-color: #23874b;
  border: 5px solid #202020;
  width: 36px;
  height: 36px;
  top: -50%;
  left: 34%;
  border-radius: 27px;
  text-align: center;
  line-height: 34px;
  font-weight: bold;
  opacity: 0;
  animation: 0.3s ease-out 1 0.5s forwards slideInFromLeft,
    0.3s ease-in 1 0.5s forwards fadeIn;
}
