.popup__overlay {
  display: flex;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  opacity: 0;
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.3);
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}
