.popup__close-button {
  background-image: url(../../../images/close-black-test.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  position: absolute;
  top: 6px;
  right: 6px;
  width: 16px;
  height: 16px;
  outline: none;
  border: none;
  cursor: pointer;
}

.popup__close-button:focus {
  outline: 1px solid #23874b;
  outline-offset: 5px;
}
