@keyframes slideInFromLeft {
  0% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content__list-item {
  animation: 0.3s ease-out 1 1s forwards slideInFromLeft,
    0.3s ease-in 1 1s forwards fadeIn;
  width: 160px;
  margin: 12px;
  min-height: 60px;
  background-color: white;
  border-radius: 18px;
  opacity: 0;
}
