.content__list-item-descriptor {
  /* the descriptor span; most of the body of the list*/
  position: absolute;
  display: block;
  width: 100%;
  overflow: hidden;
  padding: 16px 0px 4px 0px;
  line-height: 1.15;
  color: black;
  text-align: center;
}
