@import url("__link-list/footer__link-list.css");
@import url("__link/footer__link.css");
@import url("__link-list-item/footer__link-list-item.css");
@import url("__link-list-title/footer__link-list-title.css");
@import url("__link-list-image/footer__link-list-image.css");

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background-color: rgba(25, 25, 25, 0.7);
}
